body {
  background-color: #FAFAFF; }

nav {
  color: #7272D8;
  background-color: #7272D8; }

h1,h2,h3,h4,h5,h6 {
  color: #7272D8;
}

a {
  color: #FAFAFF;
}

.nav-wrapper > ul > li {
  color: #7272D8;
  background-color: #7272D8; }

.custom {
  background-color: #7272D8; }

.custom-text {
  color: #7272D8; }

.collection .collection-item.active {
  background-color: #ffffff;
  color: #000000; }

.field-validation-error {
  color: #BF3131; }

.progress {
  background-color: #C8C8F7; }

.progress .determinate {
  background-color: #7272D8; }

.progress .indeterminate {
  background-color: #7272D8; }

.btn:hover {
  background-color: #9999E9; }

.btn-floating:hover {
  background-color: #9999E9; }
