<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Warden Supervisor Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-nav" href="#!">
        <img src="static/img/logo.png">
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="section">
      <ul class="collection with-header" data-bind="foreach: result().services">
        <li class="collection-header"><h5 data-bind="text: name"></h5>Checked at: <span data-bind="text: checkedAt"></span></li>
        <li class="collection-item" data-bind="foreach: instances, css: { 'light-green lighten-1': alive(), 'red lighten-2': !alive() }">
            <div>
                <span data-bind="text: name"></span> [<a href="" data-bind="attr: { href: browsableUrl }, text: url" target="_blank"></a>]
            </div>
          </li>
      </ul>
    </div>
  </div>
  <script src="static/js/jquery-3.1.1.min.js"></script>
  <script src="static/js/knockout-3.4.1.min.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/main.js"></script>
  </body>
</html>
